nav {
	background: rgba(140,140,140,.7);
	padding: 30px 10px 30px 10px;
	text-align: center;
}
body {
	background: rgba(0,0,0,1);
	margin: 0;
}
.that-girl {
	background-image: 
		linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),
		url("assets/thatgirl.jpg");
	background-size: cover;
	height: 600px;
	padding: 10px 0 0 0;
	text-align: center;
}
.chrono {
	background: #fff;
	padding: 10px 0 30px 0;
}
section {
	max-width: 600px;
	margin: 0 auto;
	padding: 15px;
	border-bottom: rgba(0,0,0,.1) solid 1px;
}
p {
	font-size: 32px;
	color: rgba(247, 7, 167, 1);
	font-family: 'Sansita One', 'Helvetica', sans-serif;
}
li {
	font-family: 'Verdana', 'Geneva', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	padding: 5px 0 0 0;
}

.prompt {
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 900;
	font-size: 72px;
	text-transform: uppercase;
	color: rgba(247, 7, 167, 0.8);
	margin: 40px 0 0 0;
}
button {
	border: 10px solid;
	padding: 20px;
	margin: 0 20px 0 0;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 800;
	font-size: 36px;
	text-transform: uppercase;
	color: rgba(247, 7, 167, 1);
	background: none;
	background-color: rgba(60,60,60,1);
}
button:hover {
	background-color: rgba(210,210,210,.9);
}
button:active {
	transform: translateY(2px);
}
a {
	text-decoration: none;
	color: rgba(20, 20, 20, 0.8);
}

a:hover {
	text-decoration: none;
	color: rgba(200, 200, 200, 0.4);
}

.big, h3 {
	text-transform: uppercase;
	font-size: 38px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
	color: rgba(247, 7, 167, 1);
	padding: 0;
	margin: 0;
}
.bigger, h2 {
	text-transform: uppercase;
	font-size: 48px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
	text-align: center;
	line-height: 1;
	}

img {
	width: 75px;
	padding: 0 20px 0 20px;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	display: inline;
}
img:hover {
		opacity: .5;
	}
	h1 {
		display: none;
	}