---
layout: default
---

<div class="home">

  <h1>Currently...</h1>
  <ul>
    <li>Working at <a href="https://www.happybearsoftware.com">Happy Bear Software</a></li>
    <li>Reading <em>High Performance Browser Networking</em> and <em>Hidden
        Figures</em></li>
    <li>Shooting photos for <a href="https://www.sofarsounds.com">Sofar
        Sounds</a></li>
    <li>Co-organising London's <a href="https://www.meetup.com/Women-in-Tech-Book-Club/">Women in Tech Book Club</a></li>
  </ul>

</div>
