---
layout: default
---

<div class="home">

  <h1>Currently...</h1>
  <ul>
    <li>Senior Developer at  <a href="https://www.happybearsoftware.com">Happy Bear Software</a></li>
    <li>Reading <em>Effective Testing with RSpec 3</em>, <em>The
        Obelisk Gate</em>, and <em>A Good Man Is Hard to Find</em></li>
    <li>Participating in two London-based book clubs</li>
    <li>Trying to learn conversational Italian</li>
    <li>Planning some major changes to this website, slowly</li>
  </ul>

</div>
